@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "ADMIN PAGE";

    if(SignInManager.IsSignedIn(User)){
       Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}

@section Styles {
    <link href="~/css/admin.css" rel="stylesheet" />
}

    <style>
    
    .btn-warning {

        border-radius: 40px;
 
    }
    
    </style>

<section class="SectionModule">

    <div class="IndexHeader">
        <div class="IndexHeader_Message">
            <h1 class="IndexHeader_h1">Bienvenido Admin @User.Identity?.Name!</h1>
            <span>Aqui tienes tus funcionalidades listas para usarse</span>
        </div>       
        <img class="IndexHeader_img" src="~/imagenes/adminTools.svg">
    </div>
 
    <div class="OptionHandler">
        <div class="OptionModule">
            <img class="OptionModule_imgContainer" src="~/imagenes/RegistrarProductoImg.png" width="100%" height="100%" />

            <a class="OptionModule_btnRegistrarProducto" asp-controller="Producto" asp-action="Create">Empezar</a> 
        </div>
        
        <div class="OptionModule">
            <img  class="OptionModule_imgContainer" src="~/imagenes/DeliveryImg.png" width="100%" height="100%"/>
            <a class="OptionModule_btnDelivery" asp-area=""  asp-controller="Delivery" asp-action="Index">Empezar</a> 
        </div>

        <div class="OptionModule">
            <img  class="OptionModule_imgContainer" src="~/imagenes/soporte.png" width="100%" height="100%"/>
            <a class="OptionModule_btnSoporte" asp-area="" asp-controller="Pedido" asp-action="Index">Empezar</a> 
        </div>

    </div>

<section id="wrapper">


  <div class="p-4">
    <section class="statistics mt-4">
      <div class="row">
        <div class="col-lg-4">
          <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
            <i class="uil-envelope-shield fs-2 text-center bg-primary rounded-circle"><span class="material-symbols-outlined"style="color: #FFFFFF;">
mail
</span></i>
            <div class="ms-3">
              <div class="d-flex align-items-center">
                <h3 class="mb-0">1,245</h3> <span class="d-block ms-2">Emails</span>
              </div>
              <p class="fs-normal mb-0">Lorem ipsum dolor sit amet</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
            <i class="uil-file fs-2 text-center rounded-circle" style="background-color: #A5DD35;">
                <span class="material-symbols-outlined" style="color: #FFFFFF;">
            folder
            </span>

            </i>
            
            <div class="ms-3">
              <div class="d-flex align-items-center">
                <h3 class="mb-0">34</h3> <span class="d-block ms-2">Projects</span>
              </div>
              <p class="fs-normal mb-0">Lorem ipsum dolor sit amet</p>
            </div>
        </div>
</div>

        <div class="col-lg-4">
          <div class="box d-flex rounded-2 align-items-center mb-4 mb-lg-0 p-3">
            <i class="uil-file fs-2 text-center rounded-circle" style="background-color: #7535dd;"><span class="material-symbols-outlined" style="color: #FFFFFF;">
            person
            </span></i>
            <div class="ms-3">
              <div class="d-flex align-items-center">
                <h3 class="mb-0">5,245</h3> <span class="d-block ms-2">Usuarios</span>
              </div>
              <p class="fs-normal mb-0">Lorem ipsum dolor sit amet</p>
            </div>
          </div>
        </div>
      
    </section>
<br>



 <section class="statis mt-4 text-center">
      <div class="row">
        
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="box p-3" style="background-color: #4b374b; color: #FFFFFF;">
            <i class="uil-eye"><span class="material-symbols-outlined">visibility</span></i>
            <h3>5,154</h3>
            <p class="lead">Vistas de Páginas</p>
        </div>
        </div>


        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
          <div class="box p-3" style="background-color: #62b08d; color: #FFFFFF;">
            <i class="uil-user"><span class="material-symbols-outlined">
person
</span></i>
            <h3>245</h3>
            <p class="lead">Usuarios Registrados</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          <div class="box p-3" style="background-color: #3d8aa2; color: #FFFFFF;">
            <i class="uil-shopping-cart"><span class="material-symbols-outlined">
shopping_cart
</span></i>
            <h3>5,154</h3>
            <p class="lead">Productos Vendidos</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box bg-success p-3">
            <i class="uil-feedback"><span class="material-symbols-outlined">
receipt_long
</span></i>
            <h3>5,154</h3>
            <p class="lead">Transacciones</p>
          </div>
        </div>
      </div>
    </section>

    <section class="admins mt-4">
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <!-- <h4>Admins:</h4> -->
            <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
              <div class="img">
                <img class="img-fluid rounded-pill"
                     width="75" height="75"
                     src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148906966/small/1501685402/enhance"
                     alt="admin">
              </div>
              <div class="ms-3">
                <h3 class="fs-5 mb-1">Joge Lucky</h3>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
              </div>
            </div>
            <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
              <div class="img">
                <img class="img-fluid rounded-pill"
                     width="75" height="75"
                     src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907137/small/1501685404/enhance"
                     alt="admin">
              </div>
              <div class="ms-3">
                <h3 class="fs-5 mb-1">Joge Lucky</h3>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
              </div>
            </div>
            <div class="admin d-flex align-items-center rounded-2 p-3">
              <div class="img">
                <img class="img-fluid rounded-pill"
                     width="75" height="75"
                     src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907019/small/1501685403/enhance"
                     alt="admin">
              </div>
              <div class="ms-3">
                <h3 class="fs-5 mb-1">Joge Lucky</h3>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="box">
            <!-- <h4>Moderators:</h4> -->
            <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
              <div class="img">
                <img class="img-fluid rounded-pill"
                     width="75" height="75"
                     src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907114/small/1501685404/enhance"
                     alt="admin">
              </div>
              <div class="ms-3">
                <h3 class="fs-5 mb-1">Joge Lucky</h3>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
              </div>
            </div>
            <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
              <div class="img">
                <img class="img-fluid rounded-pill"
                     width="75" height="75"
                     src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907086/small/1501685404/enhance"
                     alt="admin">
              </div>
              <div class="ms-3">
                <h3 class="fs-5 mb-1">Joge Lucky</h3>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
              </div>
            </div>
            <div class="admin d-flex align-items-center rounded-2 p-3">
              <div class="img">
                <img class="img-fluid rounded-pill"
                     width="75" height="75"
                     src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907008/medium/1501685726/enhance"
                     alt="admin">
              </div>
              <div class="ms-3">
                <h3 class="fs-5 mb-1">Joge Lucky</h3>
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

   
  </div>
</section>

    </div>
</section>