@model appPetech.Models.Producto;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Details";

    if(SignInManager.IsSignedIn(User)){
       Layout = "~/Views/Shared/_LayoutLogued.cshtml";
    } else {
        Layout = "~/Views/Shared/_Layout.cshtml"; // El layout predeterminado
    }

}
@section Styles {
    <link href="~/css/details.css" rel="stylesheet" />
}
 <main class="container-main">
      <div class="card">
        <div class="img-top"><img class="img-responsive" width="300px" height="300px" src="/imagenes/@Html.DisplayFor(model => model.ImageName)" alt="">
        </div>
        <div class="card-body">
          <h1 class="card-title">DETALLE SOBRE EL PRODUCTO SELECCIONADO</h1>
          <h1 class="card-subtitle">@Html.DisplayFor(model => model.Name)</h1>
          <p class="card-text">
            @Html.DisplayFor(model => model.Descripcion)
          </p>
          <div class="prices">
            <h1 class="card-title-price">S/ @Html.DisplayFor(model => model.Precio)</h1>
          </div>
           
            <a href="#" class="btn-btna"> AÑADIR AL CARRITO</a>
       
        </div>
      </div>
    </main>