@model IEnumerable<appPetech.Models.Producto>

@{
    ViewData["Title"] = "Catalogo";
}

@section Styles {
    <link href="~/css/index.css" rel="stylesheet" />
}

<br>
    <div class="indexSection">
        <h1>@ViewData["Message"]</h1>

        <form method="post" asp-controller="Home" asp-action="Index" class="searchForm">
            <input type="text" name="searchString" class="searchForm_input" placeholder="Ejm : Comida para perros, Arena de gato, Collarines...."/>
            <button type="submit" class="searchForm_btn"><img class="btn_search" src="/imagenes/search_icon.svg"/></button>
        </form>


        <div id="products" class="indexSection_productHandler">
                        @foreach (var item in Model){
                            <div class="productComponentContainer">
                        <label class="productComponentContainer_label">@item.Name</label>
                        @if (item.ImageName != null)
                        {
                            <img class="productComponentContainer_img" src="~/imagenes/@item.ImageName " alt="width="150" height="150"/>
                        }
                        <label class="productComponentContainer_precio">S/@Html.DisplayFor(modelItem => item.Precio)</label>
                        <div class="btn_options">
                            <a class="btn btn-primary" style="background-color: #ED981D; border: 1px solid #ED981D;"asp-action="Add" asp-route-id="@item.Id"><span class="material-symbols-outlined" style="vertical-align: middle;">shopping_cart</span>Añadir</a>
                            <a class="btn btn-info" style="background-color: #FAD7A5; border: 1px solid #FAD7A5;" asp-action="Details" asp-route-id="@item.Id">Ver más </a>
                        </div>
                    </div>
                        }      
        </div>
    </div>
 
