@model appPetech.Models.Contacto
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@section Styles {
    <link href="~/css/createProd.css" rel="stylesheet" />
}


@{
    ViewData["Title"] = "Contacto";

    if(SignInManager.IsSignedIn(User)){
       Layout = "~/Views/Shared/_LayoutLogued.cshtml";
    } else {
        Layout = "~/Views/Shared/_Layout.cshtml"; // El layout predeterminado
    }

}

<br>
<div class="container">
    <h1 class="text-center mb-4">Formulario de contacto</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="formContainer" asp-controller="Contacto" asp-action="Create" method="post">
                <div class="formContainer_inputHandler form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control formInput" />
                </div>
                <div class="form-group">
                    <label asp-for="CorreoElectronico" class="control-label"></label>
                    <input asp-for="CorreoElectronico" class="form-control formInput" />
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btnEnviar">Enviar</button>
                </div>
            </form>
             <h1>@ViewData["Message"]</h1>
    <div class="backToListContainer">
        <a class="backToList" asp-action="Index"> ← Back to List</a>
    </div>
        </div>
    </div>
</div>