@model appPetech.Models.Producto

@{
    ViewData["Title"] = "Detalles del Producto del cliente";
}

       <link rel="stylesheet" href="/css/detalleprod.css" asp-append-version="true" />  

<html lang="en">

<head>
  <title>Harvest vase</title>
  <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
</head>

<body>
    
  
     <div class="container">
       <div class="product-info">
        <div class="product-text">
        <br>
    
    	<table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Descripcion</th>
                <th>Imagen</th>
            </tr>
  </thead>
  <tbody>
        <tr>
            <td><h5>@Html.DisplayFor(model =>  model.Name)</h5></td>
            <td><h5>@Html.DisplayFor(model => model.Descripcion)</h5></td>
            <td><img  class="img-responsive" width="150px" height="150px" src="/imagenes/@Html.DisplayFor(model => model.ImageName)" alt=""></td>
        </tr>  

    </tbody>

        </table>
            
        </div>
        <a class="btn btn-light" asp-action="Index">&laquo;Volver</a>
    </div>


</body>



