@model IEnumerable<appPetech.Models.RazaPerros>


<section class="indexSection">
    <br>
                <h2 class="indexSection_h2" >LO ÚLTIMO DE NUESTRA TIENDA!!!</h2>
                <hr class="indexSection_h3"></hr>

                <p>
                    @ViewData["data"]
                </p>
             
                </div>
<section>