@model appPetech.Models.Pago
@{
    ViewData["Title"] = "Realizar Pago";
}

@section Styles {
    <link href="~/css/cart.css" rel="stylesheet" />
}

<center><h2>@ViewData["Title"]</h2></center>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-5">
            <form id="formPagar" asp-controller="Pago" asp-action="Pagar">
                <div class="form-group row">
                    <input type="hidden" asp-for="UserID" />
                    <div class="col-sm-3">
                        <label asp-for="NombreTarjeta" class="control-label">Nombre del titular</label>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="NombreTarjeta" placeholder="Lucas Almiron" class="form-control" />
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label asp-for="NumeroTarjeta" class="control-label">Numero de Tarjeta</label>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="NumeroTarjeta" class="form-control" placeholder="9999-9999-9999-9999" data-inputmask="'mask': '9999-9999-9999-9999'" />
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label asp-for="DueDateYYMM" class="control-label">Fecha de expiración</label>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="DueDateYYMM" class="form-control" placeholder="YY/MM" data-inputmask="'mask': '99/99', 'placeholder': 'yy/mm'" />
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label asp-for="Cvv" class="control-label">CVV</label>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="Cvv" class="form-control" placeholder="999" data-inputmask="'mask': '999', 'placeholder': '999'" />
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label asp-for="MontoTotal" class="control-label"></label>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="MontoTotal" class="form-control" data-thousands="," data-decimal="." readonly/>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <button id="btnPagar" type="submit" class="btn btn-primary" style="background-color: #ED981D; border-color: #ED981D; width: 100%;">Pagar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="overlay"></div>
<div class="productPopup">
    <div class="popupContent">
        <div class="pupUpContent_Icon">
            <center><img src="/imagenes/pago.gif" alt="GIF animado" style="width: 200px; height: 200px;"></center>

        </div>
        <div class="popupContent_text">
            <h1>Gracias!</h1>
            <span>Su pago se realizo exitosamente el pedido se registro correctamente y su pedido @ViewData["nPedido"] va en camino!</span>
        </div>
    </div>
    <span class="closeButton">&times;</span>
</div>



@section Scripts {
    <script>
    const showPopUp = (e) => {
        e.preventDefault();
        const overlay = document.getElementsByClassName('overlay')[0]
        const popup = document.getElementsByClassName('productPopup')[0]

        overlay.classList.add('active')
        popup.classList.add('active')

    }
    const closePopUp = ()=>{
        overlay.classList.remove('active')
        const popup = document.getElementsByClassName('productPopup')[0]
        popup.classList.remove('active')
        form.submit()
    }

    const btnPagar = document.getElementById("btnPagar")
    const form = document.getElementById("formPagar")

    btnPagar.addEventListener('click',showPopUp)
    const overlay = document.getElementsByClassName('overlay')[0]
    const closeButton = document.getElementsByClassName('closeButton')[0]
    closeButton.addEventListener('click',closePopUp)
</script>

}