@model appPetech.Models.Pago
@{
    ViewData["Title"] = "Realizar Pago";
}

<center><h2>@ViewData["Title"]</h2></center>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-5">
            <form asp-controller="Pago" asp-action="Pagar">
                <div class="form-group row">
                    <input type="hidden" asp-for="UserID" />
                    <div class="col-sm-3">
                        <label asp-for="NombreTarjeta" class="control-label"></label>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="NombreTarjeta" class="form-control" />
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label asp-for="NumeroTarjeta" class="control-label"></label>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="NumeroTarjeta" class="form-control" data-inputmask="'mask': '9999-9999-9999-9999'" />
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label asp-for="DueDateYYMM" class="control-label"></label>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="DueDateYYMM" class="form-control" data-inputmask="'mask': '99/99', 'placeholder': 'yy/mm'" />
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label asp-for="Cvv" class="control-label"></label>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="Cvv" class="form-control" data-inputmask="'mask': '999', 'placeholder': '999'" />
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label asp-for="MontoTotal" class="control-label"></label>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="MontoTotal" class="form-control" data-thousands="," data-decimal="." readonly/>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary" style="background-color: #ED981D; border-color: #ED981D; width: 100%;">Pagar</button>
                    </div>
                </div>
            </form>
            <h1>@ViewData["Message"]</h1>
        </div>
    </div>
</div>
