@model appPetech.Models.Producto
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "ADMIN PAGE";

    if(SignInManager.IsSignedIn(User)){
       Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}

<div class="container">
<h1>EDITAR</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group my-4">
                <label  class="control-label">NOMBRE:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                <label  class="control-label">DESCRIPCION:</label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                <label class="control-label">PRECIO:</label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                <label  class="control-label">PORCENTAJE DE DESCUENTO:</label>
                <input asp-for="PorcentajeDescuento" class="form-control" />
                <span asp-validation-for="PorcentajeDescuento" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                <label  class="control-label">IMAGEN DEL PRODUCTO:</label>
              
                <input type="file" id="ImageName" name="ImageName" class="file-input" accept="image/*">
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            
            <div class="form-group my-4">
                <input type="submit" value="GUARDAR" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a class="btn btn-primary" asp-action="Index">VOLVER</a>
</div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
