@model IEnumerable<appPetech.Models.Producto>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";

    if(SignInManager.IsSignedIn(User)){
       Layout = "~/Views/Shared/_LayoutLogued.cshtml";
    } else {
        Layout = "~/Views/Shared/_Layout.cshtml"; // El layout predeterminado
    }

}

@section Styles {
    <link href="~/css/index.css" rel="stylesheet" />
}

<div class="popUpContainer" id="popup-container" style="display: none;" id="popup-container">
    <div class="popUpContainer_imgContainer">
        <div class="popUpContainer_close" id='popup-close'></div>
        <img class="popUpContainer_img" src="/imagenes/advertencia.png" alt="Imagen popup">
    </div>
    </img>
</div>


<div class="carousel">
  <div class="carousel__wrapper">
    <div class="carousel__container">
      <img class="carousel__item" src="/imagenes/portada2.png" alt="Imagen 1">

      <img class="carousel__item" src="/imagenes/portada1.png" alt="Imagen 2">
      <img class="carousel__item" src="/imagenes/portada4.png" alt="Imagen 3">
      <img class="carousel__item" src="/imagenes/portada6.png" alt="Imagen 4">
      <img class="carousel__item" src="/imagenes/portada7.png" alt="Imagen 5">
    </div>
  </div>
   <div class="carousel__dots">
    <span class="carousel__dot" data-slide="0"></span>
    <span class="carousel__dot" data-slide="1"></span>
    <span class="carousel__dot" data-slide="2"></span>
    <span class="carousel__dot" data-slide="3"></span>
    <span class="carousel__dot" data-slide="4"></span>
    <br><br>
  </div>
</div>



<section class="card-section">
  <div class="container">
    <div class="card-row">
      <div class="card">
    <span class="material-symbols-outlined color-icon icon-large">
        local_shipping
        </span>
    <p><strong>ENVÍO GRATIS</strong></p>
    <h11>Pedidos duperiores a s/150</h11>
    <h11>Recíbelo en 24-48 horas</h11>
  </div>
  <div class="card">
    <span class="material-symbols-outlined color-icon icon-large">
    autorenew
    </span>
    <p><strong>DEVOLUCIONES</strong></p>
    <h11>15 días para devoluciones</h11>
    <h11>RCon todas las garantías</h11>
  </div>
  <div class="card">
    <span class="material-symbols-outlined color-icon icon-large">
    forum
    </span>
    <p><strong>NECESITAS AYUDA</strong></p>
    <h11>Escríbenos:</h11>
    <h11>somosPetech@appPetech.com</h11>
  </div>
  <div class="card">
    <span class="material-symbols-outlined color-icon icon-large">
    lock
    </span>
    <p><strong>PAGO 100% SEGURO</strong></p>
    <h11>Tarjetaa de crédito, PayPal</h11>
    <h11>o Transferencia</h11>
  </div>
  </div>
  </div>
</section>


                <h2 class="indexSection_h2" > VISITA LO ÚLTIMO DE NUESTRA TIENDA!!!</h2>
                <hr class="indexSection_h3"></hr>

                <form method="post" asp-controller="Home" asp-action="Index" class="searchForm">
                    <input type="text" name="searchString" class="searchForm_input" placeholder="Ejm : Comida para perros, Arena de gato, Collarines...."/>
                    <button type="submit" class="searchForm_btn"><img class="btn_search" src="/imagenes/search_icon.svg"/></button>
                </form>
                <div id="products" class="indexSection_productHandler">
                    @foreach (var item in Model)
                    {
                    <div class="productComponentContainer">
                        <label class="productComponentContainer_label">@item.Name</label>
                        <!-- <img class="productComponentContainer_img" src="@item.ImageName"></img> -->
                        @if (item.ImageName != null)
                        {
                            <img class="productComponentContainer_img" src="~/imagenes/@item.ImageName " alt="width="150" height="150"/>
                        }
                        <!--<img class="productComponentContainer_img" src="~/imagenes/@item.ImageName"></img>-->
                        <label class="productComponentContainer_precio">S/@item.Precio</label>
                        <button class="productComponentContainer_btn" >Comprar</button>
                    </div>
                    }
                </div>
                <script src="/js/PopUp.js"></script>
                <script src="/js/index.js"></script>
