@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@section Styles {
    <link href="~/css/register.css" rel="stylesheet" />
}

<br>
<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
<div class="container">
    <h1>CREAR UNA CUENTA</h1>
    <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <input asp-for="Input.Email" class="form-label" placeholder="CORREO"></label>
			<input asp-for="Input.Password" class="form-label" placeholder="CONTRASEÑA" asp-validation-for="Input.Password"></label>
            <input asp-for="Input.ConfirmPassword" asp-validation-for="Input.ConfirmPassword" placeholder="CONFIRMAR CONTRASEÑA"></label>
			<button id="registerSubmit" type="submit" >Registrarse</button>

</div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
