.popUpContainer{
  background-color: #00000038;
  width: 100vw;   
  height: 100%;
  position: absolute;
  z-index: 500;
}

.popUpContainer_imgContainer{
  width: 70vw;
  max-width: 350px;
  max-height: 500px;
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.popUpContainer_close{
  position: absolute;
  left: 84.5%;
  top: 5.5%;
  z-index: 600;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.popUpContainer_img{
  width: 100%;
}



.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel__wrapper {
  overflow: hidden;
  margin: 0 auto;
}

.carousel__container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel__item {
  flex: 0 0 100%;
  height: auto;
  width: 100%;
}

.carousel__dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel__dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.carousel__dot--active {
  transform: scale(1.5);
  background-color: #FFDE59;
}

@media (max-width: 768px) {
  .carousel__item {
    flex: 0 0 50%;
  }
}

@media (max-width: 576px) {
  .carousel__item {
    flex: 0 0 100%;
  }
}

section {
  display: flex;
  justify-content: space-between;
}

.card-section {
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.card-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  flex: 0 0 200px;
  text-align: center;
  margin: 10px;
  border: none;
}
.color-icon {
  color: #FFDE59; /* Reemplaza "red" con el color deseado */
}
.icon-large {
  font-size: 50px; /* Ajusta el tamaño del icono según tus preferencias */
}
.card-section {
  padding: 30px; /* Ajusta el espacio interno según tus preferencias */
}
.card i {
  font-size: 24px;
}

.card p {
  font-weight: bold;
}











.productComponentContainer_precio{
    font-size: 1.8em;
    color:rgb(255 214 91);
    font-weight: 600;
}

.searchForm_input{
    width: 85%;
    /*margin: 20px auto;*/
    padding: 5px 10px;
    border: 2px solid #FFD65B;
    border-radius: 5px 0px 0px 5px;
}

.searchForm{
    display: flex;
    width: 85%;
    margin: 20px auto;
    justify-content: center;
}

.searchForm_btn{
    border: none;
    background-color: rgb(255 214 91);
    border-radius: 0px 5px 5px 0px;
}

.btn_search{
    width: 20px;
    height: 20px;
}

.productComponentContainer_img{
    width: 100%;
    max-width: 170px;
}

.indexSection{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.indexSection_h2{
    text-align:center;
}

.indexSection_h3{
    color:rgb(255 214 91);
    width:70%;
    padding:5px;
    margin:20px auto;
}

.productComponentContainer{
    width:33vw;                   
    min-width: 200px;
    max-width:250px;
    background-color:#F9F9F9;
    justify-content:space-between;           
    align-items:center;
    padding: 15px;
    display: flex;
    flex-flow: column;
    gap: 10px;
    align-items: center;
}

.btn_options{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.productComponentContainer_label{
    font-weight:bolder;
    text-align:center;
}

.productComponentContainer_btn{
    padding:5px 10px;
    background-color:#FFD65B;
    width:100%;
    border:none;
    border-radius:10px;
    color:white;
}

.indexSection_productHandler{
    display: flex;
    gap: 5px;
    flex-wrap:wrap;
    justify-content:center;
}