@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

body {
  margin-bottom: 60px;
  font-size: 14px;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.welcome-text {
  margin: 0 70px; /* Ajusta el valor de margen según tus necesidades */
}
.authSection-wrapper {
  margin: 0 70px; /* Ajusta el valor de margen según tus necesidades */
}
.header-background {
  background-color: black;
}


.navbar-brand {
  margin-left: 50px; /* Ajusta el espacio a la izquierda del logo */
  margin-right: 30px; /* Ajusta el espacio a la derecha del logo */
}


.handler_linksContainer {
  justify-content: flex-end; /* Coloca las opciones a la derecha */
}


.navBar_img{
  width: 100%;
}

.navBar_logoHandler{
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: center;
}

.navBar_navItemContainer{
  display: flex;
  gap: 20px;
}


.nav_link{
  color: white;
  text-decoration: none;
}

.sideBar_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.sideBar{
  display: flex;
  flex-flow: column;
  width: 50%;
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
  position: fixed;
  z-index: 400;
  top: 20%;
  max-width: 350px;
  border: 2px solid #ffd65b;
  border-left: 0px;
}


.sideBar_closeIcon{
    width: 45px;
    cursor: pointer;
    z-index: 500;
}

.openButton{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#ffd65b ;
  padding: 10px;
  width: 50px;
  border-radius:0px 50%  50% 0px;
  position: fixed;
  z-index: 400;
  top: 20%;
  border: 2px solid #ffd65b;
  border-left: 0px;
}

.openButton img{
  width: 100%;
}

.sideBar_options img{
  width: 50px;
  padding: 10px;
}

.sideBar_options{
  display: flex;
  border-top: 1px solid black;
  align-items: center;
}


