@model appPetech.Models.Delivery
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Catalogo";

    if (SignInManager.IsSignedIn(User))
    {
        Layout = "~/Views/Shared/_LayoutLogued.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml"; // El layout predeterminado
    }
}

<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>

<h1 class="text-center">Registrar delivery</h1>

<h4 class="text-center">Delivery</h4>
<hr />

<div class="form-container">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">ApellidoPaterno</label>
                <input asp-for="ApellidoPaterno" class="form-control" />
                <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">ApellidoMaterno</label>
                <input asp-for="ApellidoMaterno" class="form-control" />
                <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Dni</label>
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Celular</label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Vehiculo</label>
                <input asp-for="Vehiculo" class="form-control" />
                <span asp-validation-for="Vehiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Placa</label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary my-3" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a class="btn btn-light" asp-action="Index">&laquo; Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
